.subscription {
    background-color: #eee5e9;
    height: 120vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: hidden;
}

.basic {
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    height: 70vh;
    padding: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.premium {
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    height: 70vh;
    padding: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
.Navutton{
    border: 3px solid #b7b6b6;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(0, 0, 0);
    width: 100px;
    margin-top: -100px;
    height: 50px;
    background-color: #b7b6b6;
    font-weight: 700;
    
}
.Navutton.active,.Navutton:focus,.Navutton:hover{
    border: 3px solid #b7b6b6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    color: rgb(0, 0, 0);
    width: 100px;

    height: 50px;
    background-color: #b7b6b6;
    font-weight: 700;
    transition: color .33s linear .5s, border-color ease-out .5s, background-color .33s linear 0s;
    
}

#textbox {
    margin-top: 30px;
}

.alignleft {
    float: left;
    width: 33.33333%;
    text-align: left;

}

.aligncenter {
    float: left;
    width: 33.33333%;
    text-align: center;
    color: rgb(158, 158, 158);
}

.alignright {
    float: left;
    width: 33.33333%;
    text-align: right;
    color: rgb(158, 158, 158);
}

.body0 {
    margin-top: 35px;
    background: rgb(255,178,77);
background: linear-gradient(0deg, rgba(255,178,77,1) 0%, rgba(146,247,181,1) 100%);
    border-radius: 10px;
    height: 50vh;
    padding: 25px;


}
.body2 {
    margin-top: 35px;
    background: rgb(205,254,255);
background: linear-gradient(0deg, rgba(205,254,255,1) 1%, rgba(233,144,236,1) 100%);
    border-radius: 10px;
    height: 50vh;
    padding: 25px;


}

#containerIntro {
    padding: 40px;

}

p.start {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    line-height: 28px;
    text-align: justify;
    display: inline;
}

h1.start {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    line-height: 28px;
    margin: 0;
    display: inline-block;
}

.list {
    list-style-type: none;
    text-align: center;
    transform: translateX(-10%);
    padding-left: 60px;
    margin-bottom: 50px;
}




/* Mobile */

.subscription-mobile {
    background-color: #eee5e9;
    height: 120vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.basic-mobile {
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    height: 70vh;
    padding: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.premium-mobile {
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    height: 70vh;
    padding: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
































/* .bbody{
    background-color: rgb(0, 200, 255);
    width: 100%;
    height: auto;
    
}
.basic{
    background-color: rgb(255, 255, 255);
    height: 50vh;
    margin-top: 200px;
    margin-right: 10px;
    border-radius: 20px;
}
.premium{
    background-color: rgb(255, 255, 255);
    height: 50vh;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 10px;
    border-radius: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    
}

.DIVBODY{
    text-align: center;
    
    background-color: rgb(35, 18, 18);
} */