*{
    background-color: transparent;
   
}

.home-body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.banner-img{
    width: 100%;
    height: 100vh;
    position: relative;
    
    
}
.banner-text{
    transform: translate(24%,-700%);
    color: white;
    font-size: 60px;
    font-weight: 800;
    text-shadow: 2px 2px 4px 4px #000000;
}
.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    color: #FFF;
    background: rgba(0, 0, 0, .4);
    transition: 0.25s ease-in;
    
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .8);
    
}
.image-container .after > h2{
    z-index: -1;
}
.banner-img::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    
}
.banner-img:hover::after {
    display: block;
    background: rgba(0, 0, 0, .6);
    
}
.home-body{
    overflow-x: hidden;
}
.bottom-of-banner{
    background-color: #2a9d8f;
    object-fit: cover;
    width: 100%;
}
.heading >p{
        font-size: 50px;
        text-align: center;
        font-weight: 700;
        color: rgb(98, 135, 117);
}
.body-image {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
    border-radius:30px ;
}
.body-text{
  padding-top: 100px;  
  width: 50%;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
    margin-right: auto;

}
.body-image1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border-radius:50% ;
}
.footer{
width: 100%;
height: auto;
background-color: #2a9d8f;
}
.text-white{
    font-size: 15px;
}

/* MObile */
.banner-img-mobile{
    margin-top: 50px;
    width: 100%;
}
.image-container-mobile{
    width: 100%;
    height: 50vh;
}
